// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$main-color: #E6A900;

// Colors
$main-color-yellow: #E6A900;

$Tablet: 768px;
$Desktop: 1024px;
$Mobile: 320px;